#list {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

ul > li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

video + audio {
    float: left;
}

.dot {
    color: red;
}